invoke==1.0.0
pyyaml==3.12

# Syntax checking
flake8==3.5.0
flake8-quotes==1.0.0

# soft dependencies
Flask==1.0.2
marshmallow==2.15.3
tornado==5.0.2
bottle==0.12.13

# testing
pytest==3.6.2
tox==3.0.0
mock==2.0.0

# Install this package in development mode with validation requirements
-e '.[validation]'
