invoke==1.2.0

# Syntax checking
flake8==3.5.0

# soft dependencies
Flask==1.0.2
marshmallow==2.15.5
tornado==5.1.1
bottle==0.12.13
pyyaml==3.13

# testing
pytest==3.8.0
tox==3.3.0
mock==2.0.0

# Pre-commit hooks
pre-commit==1.11.0

# Install this package in development mode with validation requirements
-e '.[validation]'
