invoke==1.2.0

# Syntax checking
flake8==3.6.0

# soft dependencies
Flask==1.0.2
marshmallow==2.16.1
tornado==5.1.1
bottle==0.12.13
pyyaml==3.13

# testing
pytest==3.9.2
tox==3.5.2
mock==2.0.0

# Pre-commit hooks
pre-commit==1.12.0

# Install this package in development mode with validation requirements
-e '.[validation,webframeworks]'
